* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.debug {
  border: 1px solid red;
}

.content_wrapper {
  flex: 1 0 auto;
  margin-top: 110px;
  margin-bottom: 20px;
}

/* Header */
.headerwrapper {
  font-family: "Laila", serif;
  background-color: #f2f2f2;
  color: #1f1f1f;
  padding: 5px 0;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  border-bottom: 1px solid #004d66;
}
.headerwrapper .logo {
  display: block;
  margin: 0 20px;
}
.headerwrapper .menu {
  margin: auto 0;
  padding: 0;
  list-style: none;
  clear: none;
  max-height: none;
}
.headerwrapper .menu .userbutton {
  padding: 10px 24px;
  height: 45px;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #1f1f1f;
  cursor: pointer;
}
.headerwrapper .menu .userbutton:hover {
  background-color: #004d66;
  color: #e6e6e6;
}
.headerwrapper .menu .userbutton:hover .dropdown_user {
  display: block;
}
.headerwrapper .menu .dropdown_user {
  display: none;
  position: absolute;
  text-align: left;
  width: 200px;
  top: 45px;
  left: 0;
  z-index: 6;
  background-color: #004d66;
  color: #e6e6e6;
}
.headerwrapper .menu .dropdown_user a {
  padding: 10px 24px;
  display: block;
  text-decoration: none;
  color: #e6e6e6;
}
.headerwrapper .menu .dropdown_user a:hover {
  text-decoration: underline;
  background: #436204;
  color: white;
}
.headerwrapper .menu li {
  display: inline-block;
  white-space: nowrap;
}
.headerwrapper .menu li a {
  padding: 10px 24px;
  display: block;
  text-decoration: none;
  color: #1f1f1f;
}
.headerwrapper .menu li a:hover {
  text-decoration: underline;
  background: #004d66;
  color: #e6e6e6;
}

.navbar2 {
  font-family: "Laila", serif;
  background-color: #004d66;
  color: #e6e6e6;
  padding: 5px 0;
  position: fixed;
  top: 100px;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.navbar2 a {
  padding: 0 24px;
  display: block;
  text-decoration: none;
  color: #e6e6e6;
}
.navbar2 a:hover {
  text-decoration: underline;
  background: #436204;
  color: white;
}
.navbar2 .menu {
  list-style: none;
  clear: none;
  max-height: none;
  margin-left: 30px;
}
.navbar2 .menu a {
  display: inline-block;
  border-left: 1px solid #436204;
}

#cartqnt {
  font-weight: 700;
}

@media (min-width: 801px) {
  .logo {
    font-size: 48px;
    margin: 0 20px;
  }
}
@media (max-width: 800px) {
  .logo {
    font-size: 24px;
    width: 120px;
    margin: 0;
  }
}
.featured_banner {
  background: #004d66;
  color: #e6e6e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  border-radius: 8px;
  z-index: 3;
}
.featured_banner h1 {
  padding: 10px 10px 5px 10px;
  font-size: 20px;
  font-weight: 700;
}

.herowrapper {
  font-family: "Laila", serif;
  margin-top: -10px;
  margin-bottom: 25px;
  height: calc(100vh - 90px);
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #e6e6e6;
}
.herowrapper h1 {
  margin-bottom: 10vh;
  font-size: 48px;
  text-align: center;
}

/* default form values */
form {
  color: #e6e6e6;
}
form a {
  text-decoration: none;
  color: #77ff33;
}
form a:hover {
  text-decoration: underline;
  color: #e6e6e6;
}
form h1 {
  font-size: 1.5em;
}
form label {
  margin-top: 10px;
  display: block;
}
form .error {
  width: 200px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 8px;
  padding: 8px;
  background: #661a00;
  color: #ecc6c6;
}
form .success {
  width: 200px;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 8px;
  color: #77ff33;
}
form select,
form input {
  outline: none;
  display: block;
  border-radius: 4px;
  width: 200px;
}
form input[type=checkbox] {
  display: block;
  width: 13px;
}
form input[type=radio] {
  display: inline-block;
  border-radius: 4px;
  width: 13px;
}
form input[type=file] {
  margin-top: 10px;
}
form #product_price {
  width: 70px;
}
form textarea {
  margin: 10px 0;
  display: block;
  width: 400px;
  height: 200px;
}
form button {
  outline: none;
  margin-top: 20px;
  border-radius: 8px;
  padding: 5px 20px;
  background: #436204;
  color: white;
  cursor: pointer;
}
form button:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.addproduct_container {
  min-width: 300px;
  background: #004d66;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
}

/* UCP */
/* Register Form */
.form_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.form_container {
  width: 700px;
  min-width: 300px;
  background: #004d66;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
}
.form_container .left_side {
  float: left;
  width: calc(100% - 230px);
  box-sizing: border-box;
}
.form_container .right_side {
  float: right;
  width: 220px;
  box-sizing: border-box;
}
.form_container .tos {
  margin-top: 20px;
  display: inline;
}

/* Products */
.text_wrapper {
  margin-left: 48px;
  width: calc(100% - 96px);
}
.text_wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.products_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 auto;
  width: 80%;
}

/* filters */
.products_filter {
  background: #004d66;
  color: #e6e6e6;
  position: sticky;
  top: 95px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-left: 48px;
  width: calc(100% - 96px);
  border-radius: 8px;
  z-index: 3;
}
.products_filter .text {
  padding: 10px 10px 5px 10px;
  font-size: 20px;
  font-weight: 700;
}
.products_filter .filter_items {
  display: flex;
  justify-content: center;
  width: 80%;
}
.products_filter .filter {
  padding: 10px 10px 5px 10px;
  width: 23%;
  border-left: 2px solid #436204;
  border-right: 2px solid #436204;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.products_filter .filter:hover {
  background: #032530;
}

.active {
  background: #436204 !important;
}

.product_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.product_info h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
}
.product_info .img_container {
  margin: 10px;
  min-width: 300px;
  max-width: 500px;
  width: 40%;
  padding: 8px 8px 8px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.product_info .description {
  width: 45%;
  min-width: 300px;
  margin: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.product_info .description p {
  width: 100%;
  padding: 8px;
}
.product_info .description .price_id_wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #66004d;
}
.product_info .description .price_id_wrapper .price {
  font-size: 20px;
}
.product_info .description .addwrapper {
  display: flex;
  justify-content: center;
}
.product_info .description .add {
  display: inline-block;
  padding: 16px;
  color: #e6e6e6;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  background: #436204;
}
.product_info .description .add:hover {
  background: #304508;
}

.product_img {
  border: 1px solid #66004d;
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}
.product_img:before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* Product Cards */
.product_card {
  margin: 10px;
  border: 2px solid #66004d;
  border-radius: 8px;
  width: 304px;
  background: #004d66;
  color: #e6e6e6;
  transition: transform 0.5s;
}
.product_card:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.product_card img {
  border-radius: 8px 8px 0 0;
  width: 300px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}
.product_card .details {
  display: flex;
  float: left;
  width: 225px;
  height: 100px;
  box-sizing: border-box;
  margin-top: -4px;
  align-items: center;
}
.product_card .details h1 {
  margin: 2px;
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
  box-sizing: border-box;
  overflow: hidden;
}
.product_card .price {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 75px;
  background: #436204;
  margin-top: -4px;
  border-radius: 0 0 8px 0;
  cursor: pointer;
}
.product_card .price:hover {
  background: #6b8a0f;
}

@media (max-width: 800px) {
  .products_filter .filter_items {
    width: 100%;
  }
  .products_filter .filter {
    padding: 5px;
    width: 23%;
  }
}
/* Modal */
.modal {
  top: 0;
  display: none;
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

.product_confirmation {
  display: flex;
  font-weight: 700;
  justify-content: center;
  background: #004d66;
  color: #e6e6e6;
  border: 1px solid #032530;
  border-radius: 16px;
  padding: 30px;
}

.modal_content {
  background: #f2f2f2;
  padding: 10px;
  margin: 140px auto 20px auto;
  border: 1px solid #000;
  width: 80%;
}
.modal_content .close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: 700;
}
.modal_content .close:hover, .modal_content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal_button {
  color: #77ff33;
  cursor: pointer;
}
.modal_button:hover {
  text-decoration: underline;
  color: #e6e6e6;
}

/* Shopping Cart */
.cart_items {
  margin-left: 48px;
  width: calc(100% - 96px);
}
.cart_items .bold {
  font-weight: 700;
}
.cart_items .fas {
  cursor: pointer;
}
.cart_items h1 {
  font-size: 32px;
  font-weight: 700px;
  border-bottom: 3px solid #66004d;
}
.cart_items .total {
  margin-top: 16px;
  padding: 10px;
  display: flex;
  width: 100%;
  border-top: 3px solid #66004d;
}
.cart_items .total .empty {
  width: calc(110px + 40%);
}
.cart_items .total .quantity {
  display: block;
  width: 25%;
}
.cart_items .total .subtotal {
  font-weight: 700;
  display: block;
  width: 25%;
}
.cart_items .checkout {
  margin-top: 16px;
  padding: 10px;
  display: flex;
  width: 100%;
}
.cart_items .checkout .empty {
  width: calc(110px + 65%);
}
.cart_items .checkout .payment {
  font-size: 24px;
  font-weight: 700;
  display: block;
  width: 25%;
  background: #436204;
  color: #e6e6e6;
  border-radius: 12px;
  border: 1px solid #66004d;
  padding: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.cart_items .checkout .payment:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.cart_items .product {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.cart_items .product .product_data {
  margin-left: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.cart_items .product .name {
  display: block;
  font-weight: 700;
  font-size: 24px;
}
.cart_items .product .quantity {
  display: block;
  width: 25%;
}
.cart_items .product .subtotal {
  display: block;
  width: 20%;
}
.cart_items .product .remove {
  display: block;
  cursor: pointer;
}
.cart_items .product img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #66004d;
}

@media (max-width: 800px) {
  .cart_items .total .empty {
    display: none;
  }
  .cart_items .total .quantity {
    width: 50%;
    padding-right: 20px;
  }
  .cart_items .total .subtotal {
    width: 50%;
  }
  .cart_items .checkout .empty {
    display: none;
  }
  .cart_items .checkout .payment {
    width: 100%;
  }
  .cart_items .product {
    justify-content: center;
    margin-bottom: 20px;
  }
  .cart_items .product .product_data {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
  }
  .cart_items .product .name {
    width: 100%;
  }
  .cart_items .product .quantity,
.cart_items .product .subtotal,
.cart_items .product .id,
.cart_items .product .price {
    display: block;
    width: 50%;
  }
  .cart_items .product .remove {
    margin-top: 10px;
  }
}
.footer_wrapper {
  background: #004d66;
  color: #e6e6e6;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 -2px #666666;
}
.footer_wrapper .credits {
  width: 100%;
}
.footer_wrapper .credits .credits_content {
  width: 80%;
  margin: 5px auto 0 auto;
  padding: 10px;
  border-top: 3px solid #66004d;
  text-align: center;
}
.footer_wrapper .disclaimer,
.footer_wrapper .contact {
  padding: 10px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
}
.footer_wrapper .disclaimer h1,
.footer_wrapper .contact h1 {
  font-size: 32px;
  font-weight: 700;
  display: block;
}
.footer_wrapper .disclaimer .option,
.footer_wrapper .contact .option {
  margin-top: 8px;
}
.footer_wrapper .payment_options {
  border-left: 3px solid #66004d;
  border-right: 3px solid #66004d;
  padding: 10px;
  font-size: 24px;
  width: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer_wrapper .payment_options .fab {
  font-size: 96px;
  margin: 4px;
}

@media (max-width: 800px) {
  .footer_wrapper .payment_options {
    border-left: none;
    border-right: none;
    border-top: 3px solid #66004d;
    border-bottom: 3px solid #66004d;
  }
}

/*# sourceMappingURL=style.css.map */
