/* Shopping Cart */

.cart_items {
	margin-left: 48px;
	width: calc(100% - 96px);

	.bold {
		font-weight: 700;
	}

	.fas {
		cursor: pointer;
	}

	h1 {
		font-size: 32px;
		font-weight: 700px;
		border-bottom: 3px solid $quaternary-color;
	}

	.total {
		margin-top: 16px;
		padding: 10px;
		display: flex;
		width: 100%;
		border-top: 3px solid $quaternary-color;

		.empty {
			width: calc(110px + 40%);
		}

		.quantity {
			display: block;
			width: 25%;
		}

		.subtotal {
			font-weight: 700;
			display: block;
			width: 25%;
		}

	}

	.checkout {
		margin-top: 16px;
		padding: 10px;
		display: flex;
		width: 100%;

		.empty {
			width: calc(110px + 65%);
		}

		.payment {
			font-size: 24px;
			font-weight: 700;
			display: block;
			width: 25%;
			background: $tertiary-color;
			color: $secondary_text_color;
			border-radius: 12px;
			border: 1px solid $quaternary-color;
			padding: 20px;
			text-align: center;
			outline: none;
			cursor: pointer;

			&:active {
				position: relative;
				top: 2px;
				left: 2px;
			}
		}

	}

	.product {
		padding: 10px;
		display: flex;
		flex-wrap: wrap;

		.product_data {
			margin-left: 10px;
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}

		.name {
			display: block;
			font-weight: 700;
			font-size: 24px;
		}

		.quantity {
			display: block;
			width: 25%;
		}

		.subtotal {
			display: block;
			width: 20%;
		}

		.remove {
			display: block;
			cursor: pointer;
		}

		img {
			height: 100px;
			width: 100px;
			object-fit: cover;
			border-radius: 8px;
			border: 1px solid $quaternary-color;
		}

	}
}

@media (max-width: 800px) {
	.cart_items {
		.total {
			.empty {
				display: none;
			}

			.quantity {
				width: 50%;
				padding-right: 20px;

			}

			.subtotal {
				width: 50%;
			}
		}

		.checkout {
			.empty {
				display: none;
			}

			.payment {
				width: 100%;
			}
		}

		.product {
			justify-content: center;
			margin-bottom: 20px;

			.product_data {
				flex-direction: row-reverse;
				flex-wrap: wrap;
				width: 100%;
				margin-left: 0px;
			}

			.name {
				width: 100%;
			}

			.quantity,
			.subtotal,
			.id,
			.price {
				display: block;
				width: 50%;
			}

			.remove {
				margin-top: 10px;
			}

		}
	}
}