/* default form values */

form {
	color: $secondary-text-color;

	a {
		text-decoration: none;
		color: $success_text_color;

		&:hover {
			text-decoration: underline;
			color: $secondary_text_color;
		}
	}

	h1 {
		font-size: 1.5em;
	}

	label {
		margin-top: 10px;
		display: block;
	}

	.error {
		width: 200px;
		box-sizing: border-box;
		margin-top: 5px;
		border-radius: 8px;
		padding: 8px;
		background: $warning-color;
		color: $error_text_color;
	}

	.success {
		width: 200px;
		box-sizing: border-box;
		margin-top: 5px;
		padding: 8px;
		color: $success_text_color;
	}

	select,
	input {
		outline: none;
		display: block;
		border-radius: 4px;
		width: 200px;
	}

	input[type="checkbox"] {
		display: block;
		width: 13px;
	}

	input[type="radio"] {
		display: inline-block;
		border-radius: 4px;
		width: 13px;
	}

	input[type="file"] {
		margin-top: 10px;
	}

	#id {
		display: none;
	}

	#product_discount,
	#product_price {
		width: 70px;
	}

	textarea {
		margin: 10px 0;
		display: block;
		width: 400px;
		height: 200px;
	}

	button {
		outline: none;
		margin-top: 20px;
		border-radius: 8px;
		padding: 5px 20px;
		background: $tertiary-color;
		color: $tertairy_text_color;
		cursor: pointer;

		&:active {
			position: relative;
			top: 2px;
			left: 2px;
		}
	}
}

.addproduct_container {
	min-width: 300px;
	background: $secondary-color;
	box-sizing: border-box;
	border-radius: 16px;
	padding: 16px;
}