/* Header */
.headerwrapper {
	font-family: 'Laila', serif;
	background-color: $primary-color;
	color: $primary-text-color;
	padding: 5px 0;
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-end;

	.logo {
		width: 320px;
		margin-left: 10px;
		display: block;

		img {
			width: 100%;
		}
	}

	.navbarheader {
		display: block;
		height: 100%;

		.menu {
			margin: auto 0;
			padding: 0;
			list-style: none;
			clear: none;
			max-height: none;

			.userbutton {
				padding: 16px 0px;
				text-align: center;
				width: 200px;
				position: relative;
				display: inline-block;
				text-decoration: none;
				color: $primary-text-color;
				cursor: pointer;

				&:hover {
					background-color: $secondary-color;
					color: $secondary_text_color;
				}
			}

			.userbutton:hover .dropdown_user {
				display: block;
			}

			.dropdown_user {
				display: none;
				position: absolute;
				text-align: left;
				width: 200px;
				top: 57px;
				left: 0;
				z-index: 6;
				background-color: $secondary-color;
				color: $secondary_text_color;

				a {
					padding: 16px 24px;
					display: block;
					text-decoration: none;
					color: $secondary_text_color !important;

					&:hover {
						text-decoration: underline;
						background: $tertiary-color;
						color: $tertairy_text_color !important;
					}
				}
			}

			li {
				display: inline-block;
				border-left: 1px solid $tertiary-color;

				a {
					padding: 16px 24px;
					display: block;
					text-decoration: none;
					color: $primary-text-color;

					&:hover {
						text-decoration: underline;
						background: $secondary-color;
						color: $secondary_text_color;
					}
				}
			}
		}
	}
}

.navbar2 {
	font-family: 'Laila', serif;
	background-color: $secondary-color;
	color: $secondary_text_color;
	padding: 5px 0;
	position: fixed;
	top: 100px;
	z-index: 5;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	a {
		padding: 0 24px;
		display: block;
		text-decoration: none;
		color: $secondary_text_color;

		&:hover {
			text-decoration: underline;
			background: $tertiary-color;
			color: $tertairy_text_color;
		}
	}

	.cart {
		border-left: 1px solid $tertiary-color;
		margin-right: 30px;
	}

	.menu {
		list-style: none;
		clear: none;
		max-height: none;
		margin-left: 30px;

		a {
			display: inline-block;
			border-left: 1px solid $tertiary-color;
		}
	}
}



#cartqnt {
	font-weight: 700;
}