.featured_banner {
	background: $secondary-color;
	color: $secondary_text_color;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	width: 100%;
	border-radius: 8px;
	z-index: 3;

	h1 {
		padding: 10px 10px 5px 10px;
		font-size: 20px;
		font-weight: 700;
	}
}

.herowrapper {
	font-family: 'Laila', serif;
	margin-top: -10px;
	margin-bottom: 25px;
	height: calc(100vh - 90px);
	width: 100%;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: $secondary_text_color;

	h1 {
		margin-bottom: 10vh;
		font-size: 48px;
		text-align: center;
	}
}