/* UCP */

/* Register Form */

.form_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 120px);
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.form_container {
	width: 700px;
	min-width: 300px;
	background: $secondary-color;
	box-sizing: border-box;
	border-radius: 16px;
	padding: 16px;

	.left_side {
		float: left;
		width: calc(100% - 230px);
		box-sizing: border-box;
	}

	.right_side {
		float: right;
		width: 220px;
		box-sizing: border-box;
	}

	.tos {
		margin-top: 20px;
		display: inline;
	}

}