$primary-color: hsla(0, 0%, 95%, 1);
$secondary-color: hsla(195, 100%, 20%, 1);
$secondary-color-highlight: hsla(195, 90%, 10%, 1);
$tertiary-color: hsla(75, 100%, 40%, 1);
$quaternary-color: hsla(315, 100%, 18%, 1);
$highlight-color: hsla(75, 80%, 30%, 1);
$primary-text-color: hsla(0, 0%, 12%, 1);
$secondary_text_color: hsla(0, 0%, 90%, 1);
$tertairy_text_color: hsla(80, 92%, 60%, 1);