$primary-color: hsla(0, 0%, 95%, 1);
$secondary-color: hsla(195, 100%, 20%, 1);
$shadow: hsla(0, 0%, 40%, 1);
$secondary-color-highlight: hsla(195, 90%, 10%, 1);
$tertiary-color: hsla(80, 93%, 20%, 1);
$tertiary-color-highlight: hsla(80, 80%, 15%, 1);
$quaternary-color: hsla(315, 100%, 20%, 1);
$warning-color: hsla(15, 100%, 20%, 1);
$highlight-color: hsla(75, 80%, 30%, 1);
$primary-text-color: hsla(0, 0%, 12%, 1);
$secondary_text_color: hsla(0, 0%, 90%, 1);
$success_text_color: hsla(100, 100%, 60%, 1);
$error_text_color: hsla(0, 50%, 85%, 1);
$tertairy_text_color: hsla(0, 0%, 100%, 1);